body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(./a095467c-2028-5b84-ad80-81188efcf15f.jfif);
    cursor: url('./cookies.png'),auto;
  }
  
  
  .container {
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(6px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  input[type="text"] {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    outline: none;
    font-size: 16px;
  }
  
  .error {
    color: #dc3545;
    margin-top: 15px;
    font-size: 14px;
  }
  
  button {
    padding: 12px 20px;
    background-color: #836117;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  